---
Checks:
  - "*"
  - "-altera-unroll-loops" # Required for gtest
  - "-fuchsia-*" # Internal Zircon https://fuchsia.dev/fuchsia-src/development/languages/c-cpp/cxx
  - "-llvmlibc-*" # Internal llvm libc flags
  - "-readability-function-cognitive-complexity" # Required for gtest

WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none
# CheckOptions:
#   - key: readability-identifier-length.IgnoredVariableNames
#     value: "x|y|z"
# Local Variables:
# mode: yaml
# End:
