---
# This file is used by Emacs' flycheck; it should be kept in sync with
# the .clang-tidy file.
CompileFlags:
  # Treat code as C++, use C++17 standard, enable more warnings.
  Add: [-xc++, -std=c++17, -Wall, -Wno-missing-prototypes]
  # Remove extra warnings specified in compile commands.
  # Single value is also acceptable, same as "Remove: [-mabi]"
  Remove: -mabi

# Local Variables:
# mode: yaml
# End:
